/** @format */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
min-height: 100vh;
/* background-color: #c62368; */
background-color: #000;
overflow: hidden;
/* position: relative; */
}